*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:rgb(187, 204, 204);
    padding-top: 100px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 60px;
    margin-right: 16px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 540px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: azure;
    border: none;
    border-bottom: 3px solid #5b83cc;;
    padding: 8px;
}

form button {
    background-color: #5b83cc;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

ul {
    display: block;
    align-items: center;
}

h3{
    
    cursor: pointer;
}

